header {
    flex: 0 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

menu{
    background-color: green;
    display: flex;
    flex: 1;
    flex-direction: row;
    color: green;
}
a{
  color: white;
}
body{
  background-image: url('/The_Great_Wall_of_China_at_Jinshanling-edit.jpg');
  background-size: height=100%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
footer{
  position:fixed;
  bottom:0;
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #ffffff60;
  margin-top: 2em;

}
footer a{
  color: black;
  float: left;
  opacity: 1;
}
.he{
  background-color: blue;
}
.he:hover {
background: black;
}