.text{
    width: 100%;
    background-color: #ffffff60;
    flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.player-name{
  font-weight: bold;
  text-decoration: none;
}
#boardofthegame{
  background-color: white;
}
#spacer{
  height: 50px;
  width: 100%;
  margin-top:20p;
  margin-bottom: 20p;
}